<div class="sticky-header">
  <div class="menu">
    <div class="logo">
      <a href="#"><img src="/assets/img/logo-orange.png" alt="logo" /></a>
    </div>

    <div (click)="toggleMenu()" class="burger" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar" [class.active-menu]="isMenuOpen">
      <nav>
        <ul>
          <li><a href="#why-me" class="nav-link">Why me</a></li>
          <li><a href="#skills" class="nav-link">Skills</a></li>
          <li><a href="#projects" class="nav-link">Projects</a></li>
          <li><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
      </nav>

      <div class="language-switch">
        <p>DE</p>
        <span>|</span>
        <p class="activ-language">EN</p>
      </div>
    </div>
  </div>
</div>
