<div class="footer-section">
  <div class="rg-logo">
    <a href="#"><img src="assets/img/logo-orange.png" alt="logo" /></a>
    <p>frontend developer</p>
  </div>
  <div class="copyright">
    <p>&#169; Richard Geis 2025</p>
    <div class="legally">
      <p class="links" (click)="navigateToLegalNotice()" routerLink="/legal-notice">{{ "FOOTER.LEGAL_NOTICE" | translate }}</p>
      <p class="links" (click)="navigateToPrivacyPolicy()" routerLink="/privacy-policy">{{ "FOOTER.PRIVACY_POLICY" | translate }}</p>
    </div>
  </div>
  <div class="rg-logo-mobile">
    <a href="#"><img src="assets/img/logo-orange.png" alt="logo" /></a>
    <p>&#169; Richard Geis 2025</p>
  </div>
  <div class="social-icons">
    <a target="_blank" href="https://github.com/grichie7000"><img src="assets/img/footer/git-icon.png" alt="github" /></a>
    <a  href="mailto:contact@richard-geis.com"><img src="assets/img/footer/mail-icon.png" alt="email" /></a>
    <a target="_blank" href="https://www.linkedin.com/in/richard-geis-757056374/"><img src="assets/img/footer/linkedIn-icon.png" alt="linkedIn" /></a>
  </div>
</div>
