<div class="footer-section">
  <div class="rg-logo">
    <a href="#"><img src="/assets/img/logo-orange.png" alt="logo" /></a>
    <p>frontend developer</p>
  </div>
  <div class="copyright">
    <p>&#169; Richard Geis 2025</p>
    <div class="legally">
      <a href="">Legal notice</a>
      <a href="">privacy policy</a>
    </div>
  </div>
  <div class="rg-logo-mobile">
    <a href="#"><img src="/assets/img/logo-orange.png" alt="logo" /></a>
    <p>&#169; Richard Geis 2025</p>
  </div>
  <div class="social-icons">
    <img src="/assets/img/footer/git-icon.png" alt="github" />
    <img src="/assets/img/footer/mail-icon.png" alt="email" />
    <img src="/assets/img/footer/linkedIn-icon.png" alt="linkedIn" />
  </div>
</div>
