@use "../styles/variables-and-mixins" as *;

.footer-section {
  @include paddingSide();
  @include flexbox($justify: space-between);
  color: $primary-color;
  padding-bottom: 56px;
}

.rg-logo {
  position: relative;
  img {
    height: 120px;
    margin-left: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: max-content;
  }
}

.rg-logo-mobile {
  display: none;
  position: relative;
  img {
    height: 120px;
    margin-left: 0px;
    margin-top: 62px;
  }
  p {
    position: absolute;
    bottom: 16px;
    left: -32px;
    width: max-content;
  }
}

.copyright {
  @include flexbox($direction: column, $justify: flex-end);
  font-family: "RobotoMono-slim";
  word-spacing: 2px;
  font-size: 18px;
  height: 120px;
  a {
    text-decoration: none;
    color: $primary-color;
    font-size: 14px;
    margin: 0 32px;
    &:hover {
      cursor: pointer;
      color: $secondary-color;
    }
  }
}

.social-icons {
  img {
    height: 32px;
    margin-left: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      cursor: pointer;
      filter: hue-rotate(164deg) brightness(1.3) contrast(1.2);
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1800px) and (min-width: 1440px) {
}

@media (max-width: 1440px) and (min-width: 1021px) {
  .footer-section {
    padding-left: 60px;
    padding-right: 60px;
  }

  .social-icons {
    img {
      height: 28px;
      margin-left: 28px;
    }
  }
}

@media (max-width: 1020px) and (min-width: 320px) {
  .footer-section {
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: column-reverse;
  }

  .rg-logo {
    display: none;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    width: 160px;
    img {
      margin: 0;
    }
  }

  .copyright {
    height: 64px;
    p {
      display: none;
    }
  }

  .legally {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .rg-logo-mobile {
    display: block;
    img {
      margin-left: 0;
    }
  }
}

@media (max-width: 460px) {
  .footer-section {
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .rg-logo-mobile {
    p {
      left: -45px;
      bottom: 12px;
    }
    img {
      height: 94px;
    }
  }
}
