<div class="hero-section">
  <div class="name-and-contact">
    <div  data-aos="fade-down"
     data-aos-duration="1000" class="hero-action-buttons">
      <p id="contact-me">CONTACT ME</p>
      <div id="hero-arrow"><img src="\assets\img\hero\arrow-down.png" alt="arrow-down" /></div>
    </div>
    <div data-aos="fade-right" data-aos-delay="1000">
      <h2>Frontend Developer</h2>
      <h1>Richard Geis</h1>
    </div>
  </div>
  <div class="me-img" data-aos="zoom-out" data-aos-delay="1000" >
    <img src="\assets\img\hero\me.png" alt="picture of me" />
  </div>
</div>
