<div class="my-projects-section">
  <h3>My Projects</h3>

  <div class="projects" data-aos="fade-up" data-aos-duration="800">
    <div class="project-description-mobile">
      <h4>Join</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
<p>{{ 'PROJECTS.CARD_1' | translate }}</p>
      </div>
    </div>
    <div class="project-img">
      <img src="/assets/img/my-projects/join-img.png" alt="project join" />
    </div>
    <div class="mobile-buttons">
      <a target="_blank" href="https://github.com/grichie7000/Join"
        ><button class="git-button">GitHub</button></a
      >
      <a target="_blank" href="https://join.richard-geis.com/"
        ><button class="live-test">Live Test</button></a
      >
    </div>
    <div class="project-description">
      <h4>Join</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
<p>{{ 'PROJECTS.CARD_1' | translate }}</p>
      </div>
      <div>
        <a target="_blank" href="https://github.com/grichie7000/Join"
          ><button class="git-button">GitHub</button></a
        >
        <a target="_blank" href="https://join.richard-geis.com/"
          ><button class="live-test">Live Test</button></a
        >
      </div>
    </div>
  </div>

  <div class="projects reverse" data-aos="fade-up" data-aos-duration="800">
    <div class="project-description-mobile">
      <h4>Pollo Loco</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
      </div>
      <div class="project-text text-reverse">
<p>{{ 'PROJECTS.CARD_2' | translate }}</p>
      </div>
    </div>
    <div class="project-img">
      <img
        src="/assets/img/my-projects/pollo-loco-img.png"
        alt="project el pollo loco"
      />
    </div>
    <div class="mobile-buttons">
      <a target="_blank" href="https://github.com/grichie7000/el_pollo_loco"
        ><button class="git-button">GitHub</button></a
      >
      <a target="_blank" href="https://polloloco.richard-geis.com/"
        ><button class="live-test">Live Test</button></a
      >
    </div>
    <div class="project-description">
      <h4>Pollo Loco</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
      </div>
      <div class="project-text text-reverse">
<p>{{ 'PROJECTS.CARD_2' | translate }}</p>
      </div>
      <div>
        <a target="_blank" href="https://github.com/grichie7000/el_pollo_loco"
          ><button class="git-button">GitHub</button></a
        >
        <a target="_blank" href="https://polloloco.richard-geis.com/"
          ><button class="live-test">Live Test</button></a
        >
      </div>
    </div>
  </div>

  <div class="projects" data-aos="fade-up" data-aos-duration="800">
    <div class="project-description-mobile">
      <h4>DABubble</h4>
      <div class="project-skills">
        <p>Angular</p>
        <p>|</p>
        <p>TypeScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
<p>{{ 'PROJECTS.CARD_3' | translate }}</p>
      </div>
    </div>
    <div class="project-img">
      <img src="/assets/img/my-projects/coming-soon.png" alt="coming soon" />
    </div>
    <div class="mobile-buttons">
      <a target="_blank" href="https://github.com/grichie7000/DABubble"
        ><button class="git-button">GitHub</button></a
      >
      <a target="_blank" href="https://dabubble.richard-geis.com/"
        ><button class="live-test">Live Test</button></a
      >
    </div>
    <div class="project-description">
      <h4>DABubble</h4>
      <div class="project-skills">
        <p>Angular</p>
        <p>|</p>
        <p>TypeScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
<p>{{ 'PROJECTS.CARD_3' | translate }}</p>
      </div>
      <div>
        <a target="_blank" href="https://github.com/grichie7000/DABubble"
          ><button class="git-button">GitHub</button></a
        >
        <a target="_blank" href="https://dabubble.richard-geis.com/"
          ><button class="live-test">Live Test</button></a
        >
      </div>
    </div>
  </div>
</div>
