<div class="my-projects-section">
  <h3>My Projects</h3>

  <div class="projects" data-aos="fade-up" data-aos-duration="800">
    <div class="project-description-mobile">
      <h4>Join</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
      </div>
    </div>
    <div class="project-img">
      <img src="/assets/img/my-projects/join-img.png" alt="project join" />
    </div>
    <div class="mobile-buttons">
      <button id="git-button">GitHub</button>
      <button id="live-test">Live Test</button>
    </div>
    <div class="project-description">
      <h4>Join</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
      </div>
      <div>
        <button id="git-button">GitHub</button>
        <button id="live-test">Live Test</button>
      </div>
    </div>
  </div>

  <div class="projects reverse" data-aos="fade-up" data-aos-duration="800">
    <div class="project-description-mobile">
      <h4>Pollo Loco</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
      </div>
      <div class="project-text text-reverse">
        <p>
          Jump, run and throw game based on object- oriented approach. Help Pepe
          to find coins and tabasco salsa to fight against the crazy hen.
        </p>
      </div>
    </div>
    <div class="project-img">
      <img
        src="/assets/img/my-projects/pollo-loco-img.png"
        alt="project el pollo loco"
      />
    </div>
    <div class="mobile-buttons">
      <button id="git-button">GitHub</button>
      <button id="live-test">Live Test</button>
    </div>
    <div class="project-description">
      <h4>Pollo Loco</h4>
      <div class="project-skills">
        <p>JavaScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
      </div>
      <div class="project-text text-reverse">
        <p>
          Jump, run and throw game based on object- oriented approach. Help Pepe
          to find coins and tabasco salsa to fight against the crazy hen.
        </p>
      </div>
      <div>
        <button id="git-button">GitHub</button>
        <button id="live-test">Live Test</button>
      </div>
    </div>
  </div>

  <div class="projects" data-aos="fade-up" data-aos-duration="800">
    <div class="project-description-mobile">
      <h4>DABubble</h4>
      <div class="project-skills">
        <p>Angular</p>
        <p>|</p>
        <p>TypeScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
        <p>
          In this project, I am developing a business chat client together with
          my team. We are creating a platform similar to Discord, WhatsApp, or
          Slack, but designed specifically for business use.
        </p>
      </div>
    </div>
    <div class="project-img">
      <img src="/assets/img/my-projects/coming-soon.png" alt="coming soon" />
    </div>
    <div class="mobile-buttons">
      <button id="git-button">GitHub</button>
      <button id="live-test">Live Test</button>
    </div>
    <div class="project-description">
      <h4>DABubble</h4>
      <div class="project-skills">
        <p>Angular</p>
        <p>|</p>
        <p>TypeScript</p>
        <p>|</p>
        <p>HTML</p>
        <p>|</p>
        <p>CSS</p>
        <p>|</p>
        <p>Firebase</p>
      </div>
      <div class="project-text">
        <p>
          In this project, I am developing a business chat client together with
          my team. We are creating a platform similar to Discord, WhatsApp, or
          Slack, but designed specifically for business use.
        </p>
      </div>
      <div>
        <button id="git-button">GitHub</button>
        <button id="live-test">Live Test</button>
      </div>
    </div>
  </div>
</div>
