<div class="teamplayer-section">
  <h5 id="headline-team">
    <span class="uppercase">Need a teamplayer? </span>
    <span class="lowercase">{{ 'TESTIMONIALS.TITLE_DE' | translate }}</span>
  </h5>
  <div class="recession" data-aos="fade-right" data-aos-duration="800">
    <div class="recession-arrow">
      <img
        src="/assets/img/teamplayer/arrow-teamplayer.png"
        alt="arrow-right"
      />
      <div class="recession-text">
        <h5>Alkan T.</h5>
        <p class="project-recession">{{ 'TESTIMONIALS.PROJECT_JOIN' | translate }}</p>
<p>{{ 'TESTIMONIALS.QUOTE_1' | translate }}</p>
      </div>
    </div>
    <div class="recession-text">
      <h5>Robert J.</h5>
      <p class="project-recession">{{ 'TESTIMONIALS.PROJECT_JOIN' | translate }}</p>
<p>{{ 'TESTIMONIALS.QUOTE_2' | translate }}</p>
    </div>
    <div class="recession-text">
      <h5>Johannes R.</h5>
      <p class="project-recession">{{ 'TESTIMONIALS.PROJECT_KOCHWELT' | translate }}</p>
<p>{{ 'TESTIMONIALS.QUOTE_3' | translate }}</p>
    </div>
    <div class="recession-text recession-mobile">
      <h5>Alkan T.</h5>
      <p class="project-recession">{{ 'TESTIMONIALS.PROJECT_JOIN' | translate }}</p>
<p>{{ 'TESTIMONIALS.QUOTE_1' | translate }}</p>
    </div>
  </div>
</div>
