<div class="teamplayer-section">
  <h5 id="headline-team">
    <span class="uppercase">Need a teamplayer? </span>
    <span class="lowercase">Here what my colleagues said about me</span>
  </h5>
  <div class="recession" data-aos="fade-right" data-aos-duration="800">
    <div class="recession-arrow">
      <img
        src="/assets/img/teamplayer/arrow-teamplayer.png"
        alt="arrow-right"
      />
      <div class="recession-text">
        <h5>Noah Mueller</h5>
        <p class="project-recession">Project Join</p>
        <p>
          Marcus had to develop, format and deliver content in collaboration
          with the team members.He is a reliable and friendly person.
        </p>
      </div>
    </div>
    <div class="recession-text">
      <h5>Noah Mueller</h5>
      <p class="project-recession">Project Join</p>
      <p>
        Marcus had to develop, format and deliver content in collaboration
        with the team members.He is a reliable and friendly person.
      </p>
    </div>
    <div class="recession-text">
      <h5>Noah Mueller</h5>
      <p class="project-recession">Project Join</p>
      <p>
        Marcus had to develop, format and deliver content in collaboration
        with the team members.He is a reliable and friendly person.
      </p>
    </div>
        <div class="recession-text recession-mobile">
      <h5>Noah Mueller</h5>
      <p class="project-recession">Project Join</p>
      <p>
        Marcus had to develop, format and deliver content in collaboration
        with the team members.He is a reliable and friendly person.
      </p>
    </div>
  </div>
</div>
