<div class="teamplayer-section">
  <h5>Need a teamplayer ? Here what my colleagues said about me</h5>
  <div class="recession"data-aos="fade-right" data-aos-duration="800">
    <div class="recession-arrow">
      <img
        src="/assets/img/teamplayer/arrow-teamplayer.png"
        alt="arrow-right"
      />

      <div class="recession-text">
        <h5>Noah Mueller</h5>
        <p class="project-recession">Project Join</p>
        <p>
          ‘’Marcus had to develop, <br />
          format and deliver content <br />
          in collaboration with the <br />
          team members.He is a <br />reliable and friendly <br />
          person.’’
        </p>
      </div>
    </div>
    <div class="recession-text">
      <h5>Noah Mueller</h5>
      <p class="project-recession">Project Join</p>
      <p>
        ‘’Marcus had to develop, <br />
        format and deliver content <br />
        in collaboration with the <br />
        team members.He is a <br />reliable and friendly <br />
        person.’’
      </p>
    </div>
    <div class="recession-text">
      <h5>Noah Mueller</h5>
      <p class="project-recession">Project Join</p>
      <p>
        ‘’Marcus had to develop, <br />
        format and deliver content <br />
        in collaboration with the <br />
        team members.He is a <br />reliable and friendly <br />
        person.’’
      </p>
    </div>
  </div>
</div>
