<div class="why-me-section">
  <div class="why-me-img" data-aos="fade-right" data-aos-delay="500">
    <img src="/assets/img/why-me/why-me.jpg" alt="" />
  </div>
  <div class="about-me">
    <div class="description" data-aos="fade-right" data-aos-duration="800">
      <h3>Why me</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quas
        blanditiis nobis dolorem culpa ipsam incidunt atque laborum, sint
        tempore architecto nesciunt debitis saepe. Eveniet maiores saepe vitae
        velit ab! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Quaerat quisquam aspernatur voluptatum praesentium nam tempore fuga
      </p>
    </div>
    <div class="i-am" data-aos="fade-down" data-aos-duration="1000">
      <h4>I am</h4>
      <div class="i-am-icons">
        <div class="located">
          <div class="located-hover">
            <img src="/assets/img/why-me/located.png" alt="located" />
            <img
              id="located-ring"
              src="/assets/img/why-me/located-ring.png"
              alt="located-ring"
            />
          </div>
          <p>
            located <br />
            in Muhr am See
          </p>
        </div>
        <div class="relocated">
          <img
            class="arrow-me"
            src="/assets/img/why-me/loc-remo.png"
            alt="arrow down"
          />

          <div class="relocate-icon">
            <img
              id="relocate-case"
              src="/assets/img/why-me/relocate.png"
              alt="relocate"
            />
            <p>
              open to <br />
              relocate
            </p>
          </div>
        </div>
        <div class="work-remote">
          <div class="work-remote-icon">
            <div class="wlan-hover-container">
              <img
                id="wlan-2"
                src="/assets/img/why-me/wlan-2.png"
                alt="work-remote"
              />
              <img
                id="wlan-3"
                src="/assets/img/why-me/wlan-3.png"
                alt="work-remote-hover"
              />
            </div>
            <img src="/assets/img/why-me/work-remote.png" alt="work-remote" />
            <p>
              open to <br />
              work remote
            </p>
            <img src="/assets/img/why-me/remo-reloc.png" alt="arrow up" />
          </div>
          <img
            class="arrow-me"
            src="/assets/img/why-me/reloc-button.png"
            alt="arrow down"
          />
        </div>
      </div>
    </div>

    <div class="i-am-mobile" data-aos="fade-up" data-aos-duration="800">
      <div class="arrow-mobile-top">
        <img src="/assets/img/why-me/loc-remo.png" alt="arrow down" />
      </div>

      <h4>I am</h4>

      <div class="located-mobile">
        <img src="/assets/img/why-me/located.png" alt="located" />
        <p>located in Muhr am See</p>
      </div>

      <div class="relocated-mobile">
        <img src="/assets/img/why-me/relocate.png" alt="relocate" />
        <p>open to relocate</p>
      </div>

      <div class="work-remote-mobile">
        <img
          src="/assets/img/why-me/work-remote-mobile.png"
          alt="work-remote"
        />
        <p>open to work remote</p>
      </div>

      <div class="arrow-mobile">
        <img src="/assets/img/why-me/arrow-mobile.png" alt="arrow down" />
      </div>
    </div>

    <button>Let´s talk</button>
  </div>
</div>
