<div class="why-me-section">
  <div class="why-me-img">
    <img src="/assets/img/why-me/why-me-img.png" alt="" />
  </div>
  <div class="about-me">
    <div class="description">
      <h3>Why me</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum quas
        blanditiis nobis dolorem culpa ipsam incidunt atque laborum, sint
        tempore architecto nesciunt debitis saepe. Eveniet maiores saepe vitae
        velit ab! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Quaerat quisquam aspernatur voluptatum praesentium nam tempore fuga
      </p>
    </div>
    <div class="i-am">
        <h4>I am</h4>
      <div class="i-am-icons">
        <div class="located">
          <img src="/assets/img/why-me/located.png" alt="located" />
          <p>
            located <br />
            in Muhr am See
          </p>
        </div>
        <div class="relocated">
          <img class="arrow-me" src="/assets/img/why-me/loc-remo.png" alt="arrow down" />
          <div class="relocate-icon">
            <img src="/assets/img/why-me/relocate.png" alt="relocate" />
            <p>
              open to <br />
              relocate
            </p>
          </div>
        </div>
        <div class="work-remote">
          <div class="work-remote-icon">
            <img src="/assets/img/why-me/work-remote.png" alt="work remote" />
            <p>
              open to <br />
              work remote
            </p>
            <img src="/assets/img/why-me/remo-reloc.png" alt="arrow up" />
          </div>
          <img class="arrow-me" src="/assets/img/why-me/reloc-button.png" alt="arrow down" />
        </div>
      </div>
    </div>
  </div>
</div>
