@use "../styles/variables-and-mixins" as *;

.why-me-section {
  @include paddingSide();
  padding-right: 240px;
  @include flexbox($justify: space-between, $align: flex-start, $gap: 64px);
  margin-top: 96px;
  position: relative;

  button {
    position: absolute;
    bottom: 0;
    right: 240px;
    padding: 12px 32px;
    border: none;
    border-radius: 0;
    letter-spacing: 2px;
    background-color: $secondary-color;
    font-weight: 700;
    transition: color 0.2s ease;
    &:hover {
      @include defaultHover($hoverColor: $primary-color);
    }
  }
}

.why-me-img {
  flex: 0.45;
  height: 100%;
  @include flexbox($align: flex-start, $justify: flex-start);
  img {
    width: 530px;
  }
}

.about-me {
  flex: 0.55;
  @include flexbox($direction: column, $justify: flex-start);
  height: 100%;
}

.description {
  text-align: end;
  h3 {
    color: $primary-color;
    font-size: 56px;
  }

  p {
    color: $secondary-color;
    font-family: "RobotoMono-slim";
  }
}

.i-am {
  width: 100%;
  margin-top: 44px;
  font-family: "RobotoMono-slim";
  @include flexbox($gap: 32px, $align: flex-start, $justify: flex-end);
  h4 {
    font-family: "RobotoMono";
    height: 100%;
    font-size: 44px;
    color: $primary-color;
  }
}

.i-am-icons {
  flex: 0.7;
  @include flexbox($align: flex-end, $justify: flex-end, $direction: column);
  color: $secondary-color;
}

.located {
  @include flexbox($gap: 18px, $justify: flex-start);
  width: 100%;
  height: 64px;
  padding-left: 64px;
  img {
    height: 32px;
  }
}

#located-ring {
  height: 12px !important;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.located-hover {
  display: flex;
  flex-direction: column;
}

.located:hover #located-ring {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.relocated {
  @include flexbox($gap: 18px, $justify: space-between, $align: flex-end);
  width: 100%;
  height: 64px;
  padding-left: 32px;
  img {
    height: 44px;
  }
}

.relocate-icon {
  @include flexbox($gap: 18px);
  margin-right: 52px;
}

#relocate-case {
  transition: transform 0.3s ease-in-out;
}

.relocate-icon:hover #relocate-case {
  transform: rotate(15deg) scale(1.1);
}

.work-remote {
  @include flexbox($gap: 18px, $justify: space-between, $align: flex-end);
  width: 100%;
  img {
    height: 32px;
  }
}

.work-remote-icon {
  position: relative;
  @include flexbox($gap: 18px);
  margin-left: 60px;
}

.wlan-hover-container {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  img {
    position: absolute;
    top: -24px;
    left: 32px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
  }

  #wlan-2 {
    opacity: 1;
    z-index: 1;
  }

  #wlan-3 {
    top: -34px;
    left: 24px;
    height: 44px;
    width: 44px;
    opacity: 0;
    z-index: 2;
  }
}

.work-remote-icon:hover .wlan-hover-container #wlan-2 {
  opacity: 0;
}

.work-remote-icon:hover .wlan-hover-container #wlan-3 {
  opacity: 1;
}

.arrow-me {
  height: 56px !important;
}
