@use "../styles/variables-and-mixins" as *;

.why-me-section {
  @include paddingSide();
  padding-right: 240px;
  @include flexbox($justify: space-between, $align: flex-start, $gap: 64px);
  margin-top: 96px;
  position: relative;

  button {
    font-size: 16px;
    font-family: "RobotoMono-slim";
    position: absolute;
    bottom: 0;
    right: 240px;
    padding: 12px 32px;
    border: none;
    border-radius: 0;
    letter-spacing: 2px;
    background-color: $secondary-color;
    font-weight: 700;
    transition: color 0.2s ease;
    a {
      text-decoration: none;
      &:hover {
        @include defaultHover($hoverColor: $primary-color);
      }
    }
  }
}

.why-me-img {
  flex: 0.45;
  height: 100%;
  @include flexbox($align: flex-start, $justify: flex-start);
  img {
    width: 530px;
    height: 480px;
    object-fit: cover;
  }
}

.about-me {
  flex: 0.55;
  @include flexbox($direction: column, $justify: flex-start);
  height: 100%;
}

.description {
  text-align: end;
  h3 {
    color: $primary-color;
    font-size: 56px;
    margin-bottom: 18px;
  }

  p {
    color: $secondary-color;
    font-family: "RobotoMono-slim";
  }
}

.i-am {
  width: 800px;
  margin-top: 44px;
  font-family: "RobotoMono-slim";
  @include flexbox($gap: 32px, $align: flex-start, $justify: flex-end);
  h4 {
    font-family: "RobotoMono";
    height: 100%;
    font-size: 44px;
    color: $primary-color;
  }
}

.i-am-icons {
  flex: 0.7;
  @include flexbox($align: flex-end, $justify: flex-end, $direction: column);
  color: $secondary-color;
}

.located {
  @include flexbox($gap: 18px, $justify: flex-start);
  width: 100%;
  height: 64px;
  padding-left: 64px;
  img {
    height: 32px;
  }
}

#located-ring {
  height: 12px !important;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.located-hover {
  display: flex;
  flex-direction: column;
}

.located:hover #located-ring {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.relocated {
  @include flexbox($gap: 18px, $justify: space-between, $align: flex-end);
  width: 100%;
  height: 64px;
  padding-left: 32px;
  img {
    height: 44px;
  }
}

.relocate-icon {
  @include flexbox($gap: 18px);
  margin-right: 52px;
}

#relocate-case {
  transition: transform 0.3s ease-in-out;
}

.relocate-icon:hover #relocate-case {
  transform: rotate(15deg) scale(1.1);
}

.work-remote {
  @include flexbox($gap: 18px, $justify: space-between, $align: flex-end);
  width: 100%;
  img {
    height: 32px;
  }
}

.work-remote-icon {
  position: relative;
  @include flexbox($gap: 18px);
  margin-left: 60px;
}

.wlan-hover-container {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  img {
    position: absolute;
    top: -24px;
    left: 32px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out;
  }

  #wlan-2 {
    opacity: 1;
    z-index: 1;
  }

  #wlan-3 {
    top: -34px;
    left: 24px;
    height: 44px;
    width: 44px;
    opacity: 0;
    z-index: 2;
  }
}

.work-remote-icon:hover .wlan-hover-container #wlan-2 {
  opacity: 0;
}

.work-remote-icon:hover .wlan-hover-container #wlan-3 {
  opacity: 1;
}

.arrow-me {
  height: 56px !important;
}

.i-am-mobile {
  display: none;
}

@media (max-width: 1800px) and (min-width: 1441px) {
  .why-me-section {
    padding-right: 120px;
    gap: 0px;
    button {
      right: 120px;
    }
  }

  .description {
    width: 700px;
  }

  .why-me-img {
    img {
      width: 380px;
      height: 500px;
    }
  }
}

@media (max-width: 1440px) and (min-width: 1021px) {
  .why-me-section {
    padding-right: 60px;
    padding-left: 60px;
    gap: 32px;

    h3 {
      font-size: 44px;
    }

    button {
      right: 60px;
    }
  }

  .description {
    width: 486px;
  }

  .why-me-img {
    img {
      width: 360px;
      height: 560px;
    }
  }

  .i-am {
    width: 486px;
    justify-content: space-between;
    gap: 8px;
    h4 {
      font-size: 38px;
    }
  }

  .located {
    padding-left: 24px;
  }

  .relocated {
    padding-left: 0;
    margin-bottom: 16px;
  }

  .relocate-icon {
    margin-right: 0;
  }

  .work-remote-icon {
    margin-left: 0;
    margin-right: 56px;
  }

  #wlan-2 {
    left: 30px;
  }

  #wlan-3 {
    left: 14px !important;
  }
}

@media (max-width: 1020px) and (min-width: 320px) {
  .why-me-section {
    padding-right: 60px;
    padding-left: 60px;
    gap: 0px;
    font-size: 18px;
    margin-top: 60px;

    h3 {
      font-size: 44px;
      text-align: center;
    }

    button {
      right: 60px;
    }
  }

  .about-me {
    flex: unset;
  }
  .description {
    width: 100%;
    text-align: center;
  }

  .why-me-img {
    img {
      display: none;
    }
  }

  .i-am {
    display: none;
  }

  .i-am-mobile {
    @include flexbox($direction: column);
    color: $secondary-color;
    font-family: "RobotoMono-slim";
    letter-spacing: 4px;
    width: 100%;
    h4 {
      color: $primary-color;
      font-size: 32px;
      margin-bottom: 16px;
    }
  }

  .located-mobile {
    @include flexbox($gap: 16px);
    margin-bottom: 16px;
    img {
      height: 32px;
    }
  }
  .relocated-mobile {
    @include flexbox($gap: 16px);
    margin-bottom: 16px;
    img {
      height: 32px;
    }
  }
  .work-remote-mobile {
    @include flexbox($gap: 16px);
    img {
      height: 32px;
    }
  }

  .arrow-mobile {
    width: 100%;
    margin: 16px 0;
    display: flex;
    justify-content: end;
    img {
      margin-right: 132px;
      height: 56px;
    }
  }
  .arrow-mobile-top {
    width: 100%;
    margin: 16px 0;
    img {
      margin-left: 132px;
      height: 72px;
    }
  }

  button {
    position: static !important;
  }
}

@media (max-width: 700px) and (min-width: 590px) {
  .arrow-mobile {
    img {
      margin-right: 54px;
    }
  }
  .arrow-mobile-top {
    img {
      margin-left: 54px;
    }
  }
}

@media (max-width: 589px) and (min-width: 320px) {
  .why-me-section {
    padding-left: 18px;
    padding-right: 18px;
  }

  .arrow-mobile {
    img {
      margin-right: 30px;
    }
  }
  .arrow-mobile-top {
    img {
      margin-left: 30px;
    }
  }
}

@media (max-width: 460px) {
  .why-me-section {
    font-size: 16px;
    letter-spacing: 0px;

    button {
      letter-spacing: 1px;
      padding: 8px 24px;
    }
  }

  .i-am-mobile {
    letter-spacing: 0px;
    h4 {
      font-size: 24px;
    }
  }

  .about-me {
    h3 {
      font-size: 32px;
    }
  }
}
