$primary-color: #e15544;
$secondary-color: #02f4bf;

@mixin flexbox(
  $direction: row,
  $justify: center,
  $align: center,
  $wrap: nowrap,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin textStroke($color: white) {
  color: transparent;
  -webkit-text-stroke: 1px $color;
  text-stroke: 1px $color;
}

@mixin paddingSide($padding: 120px) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin defaultHover($hoverColor: #02f4bf) {
  cursor: pointer;
  color: $hoverColor;
}

@mixin positionAbsolut($t, $b, $l, $r) {
  position: absolute;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}
