<div class="contact-me-section" data-aos="fade-up" data-aos-duration="800">
  <div class="headline-contat-me">
    <h3>Contact me</h3>
    <img src="/assets/img/contact-me/contact-text.png" alt="" />
  </div>
  <div class="contact-and-text">
    <div class="contact-text">
      <p>
        Ich entwickle nicht nur Code, ich entwickle Lösungen. Wenn du einen
        zuverlässigen Partner für dein Projekt suchst, der mitdenkt, mitlernt
        und mitgestaltet, dann schreib mir. Ich bin offen für neue Ideen und
        Herausforderungen.
      </p>
    </div>
    <div class="contact">
      <div>
        <div class="contact-icon" id="mail-to">
          <img src="/assets/img/contact-me/email-icon.png" alt="" />
          <a href="mailto:info@richard-geis.com">info&#64;richard-geis.de</a>
        </div>
        <div class="contact-icon" id="call-to">
          <img src="\assets\img\contact-me\phone-icon.png" alt="" />
          <a href="tel:+4917666705220">+49 17666705220</a>
        </div>
      </div>
      <a href="#"
        ><img
          id="arrow-start"
          src="assets/img/contact-me/arrow-start.png"
          alt="arrow-start"
      /></a>
    </div>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="input-section">
      <div class="input-left">
        <div>
          <input
            type="text"
            placeholder="Dein Name"
            formControlName="name"
            required
          />
        </div>

        <div>
          <input
            type="email"
            placeholder="Deine Email"
            formControlName="email"
            required
          />
        </div>
      </div>

      <div class="input-right">
        <textarea
          rows="6"
          placeholder="Deine Nachricht"
          formControlName="message"
          required
        ></textarea>
      </div>
    </div>
    <div class="check-and-submit">
      <label class="custom-checkbox">
        <input type="checkbox" formControlName="privacy" required />
        <div class="mobile-text">
          <span class="checkmark"></span>
          <span>
            Ich habe die <a href="#">Datenschutzerklärung</a> gelesen und stimme
            der Verarbeitung meiner Daten wie darin beschrieben zu.
          </span>
        </div>
      </label>
      <button type="submit">Send</button>
    </div>
  </form>
  <div class="contact-mobile">
    <div class="arrow-pos">
      <a href="#"
        ><img
          id="arrow-start"
          src="assets/img/contact-me/arrow-start.png"
          alt="arrow-start"
      /></a>
    </div>
    <div>
      <div class="contact-icon" id="mail-to">
        <img src="/assets/img/contact-me/email-icon.png" alt="" />
        <a href="mailto:info@richard-geis.com">info&#64;richard-geis.de</a>
      </div>
      <div class="contact-icon" id="call-to">
        <img src="\assets\img\contact-me\phone-icon.png" alt="" />
        <a href="tel:+4917666705220">+49 17666705220</a>
      </div>
    </div>
  </div>
</div>
