<div class="privacy-policy">
  <div class="header-legally">
    <div class="logo">
      <img
        (click)="navigateToMainpage()"
        src="/assets/img/logo-orange.png"
        alt="logo"
      />
    </div>
    <div class="language-switch">
      <p
        (click)="switchLang('de')"
        [class.activ-language]="currentLang === 'de'"
      >
        DE
      </p>
      <span>|</span>
      <p
        (click)="switchLang('en')"
        [class.activ-language]="currentLang === 'en'"
      >
        EN
      </p>
    </div>
  </div>

  <div class="privacy-policy-text">
    <div class="back-arrow">
      <img
        (click)="navigateToMainpage()"
        src="/assets/img/hero/arrow-down.png"
        alt="back to mainpage"
      />
    </div>
<h1>{{ 'PRIVACY.TITLE' | translate }}</h1>

<h2>{{ 'PRIVACY.SECTION_1_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_1_TEXT_1' | translate }}</p>
<p>{{ 'PRIVACY.SECTION_1_TEXT_2' | translate }}</p>

<h2>{{ 'PRIVACY.SECTION_2_TITLE' | translate }}</h2>
<p>
  {{ 'PRIVACY.SECTION_2_TEXT' | translate }}
</p>

<h2>{{ 'PRIVACY.SECTION_3_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_3_TEXT_1' | translate }}</p>
<ul>
  <li>{{ 'PRIVACY.SECTION_3_LI_1' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_3_LI_2' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_3_LI_3' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_3_LI_4' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_3_LI_5' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_3_LI_6' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_3_LI_7' | translate }}</li>
</ul>
<p>{{ 'PRIVACY.SECTION_3_TEXT_2' | translate }}</p>

<h2>{{ 'PRIVACY.SECTION_4_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_4_TEXT_1' | translate }}</p>
<p>{{ 'PRIVACY.SECTION_4_TEXT_2' | translate }}</p>

<h2>{{ 'PRIVACY.SECTION_5_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_5_TEXT_1' | translate }}</p>
<p>{{ 'PRIVACY.SECTION_5_TEXT_2' | translate }}</p>

<h2>{{ 'PRIVACY.SECTION_6_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_6_TEXT' | translate }}</p>

<h2>{{ 'PRIVACY.SECTION_7_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_7_TEXT_1' | translate }}</p>
<p>{{ 'PRIVACY.SECTION_7_TEXT_2' | translate }}</p>
<ul>
  <li><code>{{ 'PRIVACY.SECTION_7_LINKEDIN' | translate }}</code></li>
  <li><code>{{ 'PRIVACY.SECTION_7_GITHUB' | translate }}</code></li>
</ul>
<p>
{{"PRIVACY.SECTION_7_TEXT_3"| translate}}
</p>

<h2>{{ 'PRIVACY.SECTION_8_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_8_TEXT_1' | translate }}</p>
<ul>
  <li>{{ 'PRIVACY.SECTION_8_LI_1' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_8_LI_2' | translate }}</li>
  <li>{{ 'PRIVACY.SECTION_8_LI_3' | translate }}</li>
</ul>
<p>{{ 'PRIVACY.SECTION_8_TEXT_2' | translate }}</p>

<h2>{{ 'PRIVACY.SECTION_9_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_9_TEXT' | translate }}</p>

<h2>{{ 'PRIVACY.SECTION_10_TITLE' | translate }}</h2>
<p>{{ 'PRIVACY.SECTION_10_TEXT' | translate }}</p>
  </div>

  <div class="footer-legally">
    <div class="copyright">
      <p>&#169; Richard Geis 2025</p>
      <div class="legally">
        <p
          class="links"
          (click)="navigateToLegalNotice()"
          routerLink="/legal-notice"
        >
          {{ "FOOTER.LEGAL_NOTICE" | translate }}
        </p>
        <p class="links active-link" routerLink="/privacy-policy">
          {{ "FOOTER.PRIVACY_POLICY" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
