<div class="legal-notice">
  <div class="header-legally">
    <div class="logo">
      <img
        (click)="navigateToMainpage()"
        src="/assets/img/logo-orange.png"
        alt="logo"
      />
    </div>
    <div class="language-switch">
      <p
        (click)="switchLang('de')"
        [class.activ-language]="currentLang === 'de'"
      >
        DE
      </p>
      <span>|</span>
      <p
        (click)="switchLang('en')"
        [class.activ-language]="currentLang === 'en'"
      >
        EN
      </p>
    </div>
  </div>

  <div class="legal-notice-text">
    <div class="back-arrow">
      <img
        (click)="navigateToMainpage()"
        src="/assets/img/hero/arrow-down.png"
        alt="back to mainpage"
      />
    </div>
    <h1>{{ "IMPRINT.TITLE" | translate }}</h1>

    <div>
      <p>
        <strong>{{ "IMPRINT.LEGAL_INFO" | translate }}</strong>
      </p>
      <p>
        {{ "IMPRINT.ADDRESS" | translate }}
      </p>
    </div>

    <div>
      <p>
        <strong>{{ "IMPRINT.CONTACT" | translate }}</strong
        ><br />
        {{ "IMPRINT.PHONE" | translate }}<br/>
        {{ "IMPRINT.EMAIL" | translate }}
      </p>
    </div>

    <div>
      <p>
        <strong>{{ "IMPRINT.RESPONSIBLE" | translate }}</strong
        ><br />
        {{ "IMPRINT.ADDRESS" | translate }}
      </p>
    </div>

    <div>
      <p>
        <strong>{{ "IMPRINT.NOTE" | translate }}</strong
        ><br />
        {{ "IMPRINT.DISCLAIMER" | translate }}
      </p>
    </div>
  </div>

  <div class="footer-legally">
    <div class="copyright">
      <p>&#169; Richard Geis 2025</p>
      <div class="legally">
        <p class="links active-link" routerLink="/legal-notice">{{ "FOOTER.LEGAL_NOTICE" | translate }}</p>
        <p
          class="links"
          (click)="navigateToPrivacyPolicy()"
          routerLink="/privacy-policy"
        >
          {{ "FOOTER.PRIVACY_POLICY" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
