<div class="my-skills-section">
  <h3>My Skills</h3>

  <div class="my-skills-icons-1" data-aos="fade-right" data-aos-duration="800">
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/Angular.png"
        alt="Angular icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Angular.png"
        alt="Angular icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/TypeScript.png"
        alt="TypeScript icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Typescript.png"
        alt="TypeScript icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/JavaScript.png"
        alt="JavaScript icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/JavScript.png"
        alt="JavaScript icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/HTML.png"
        alt="HTML icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/html.png"
        alt="HTML icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/CSS.png"
        alt="css icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/css.png"
        alt="css icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/API.png"
        alt="rest api icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Api.png"
        alt="rest api"
      />}
    </div>
  </div>

  <div class="my-skills-icons-2" data-aos="fade-left" data-aos-duration="800">
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/Firebase.png"
        alt="firebase icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Firebase.png"
        alt="firebase icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/GIT.png"
        alt="git icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Git.png"
        alt="git icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/Scrum.png"
        alt="Scrum icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Scrum.png"
        alt="Scrum icon"
      />}
    </div>
    <div>
      @if (!isMobile) {<img
        src="assets/img/my-skills/MaterialDesign.png"
        alt="MaterialDesign icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Material Design.png"
        alt="MaterialDesign icon"
      />}
    </div>

    <div id="challenge">
      @if (!isMobile) {<img
        src="assets/img/my-skills/Challenge me.png"
        alt="Challenge me icon"
      />} @else {<img
        src="assets/img/my-skills/mobile/Challenge me.png"
        alt="Challenge me icon"
      />}
      <p class="hover-text"  [class.touch-device]="isTouchDevice">
        {{ 'SKILLS.STATEMENT' | translate }}
      </p>
      <p class="mobile-text">
        Challenge <br />
        me
      </p>
    </div>
    <div></div>
  </div>
  <div class="arrow-down">
    <img src="assets/img/my-skills/mobile/arrow-down.png" alt="arrow-down" />
  </div>
  <p class="hover-text-mobile">
{{ 'SKILLS.STATEMENT' | translate }}
  </p>
  <div class="btn">
    <a href="#contact"><button>Let&rsquo;s talk</button></a>
  </div>
</div>
