<div class="my-skills-section">
  <h3>My Skills</h3>

  <div class="my-skills-icons-1" data-aos="fade-right" data-aos-duration="800">
    <img src="/assets/img/my-skills/Default Anguler.png" alt="Angular icon" />
    <img src="/assets/img/my-skills/TypeScript.png" alt="ts icon" />
    <img src="/assets/img/my-skills/JavaScript.png" alt="js icon" />
    <img src="/assets/img/my-skills/HTML.png" alt="html icon" />
    <img src="/assets/img/my-skills/CSS.png" alt="css icon" />
    <img src="/assets/img/my-skills/API.png" alt="rest api icon" />
  </div>
  <div class="my-skills-icons-2" data-aos="fade-left" data-aos-duration="800">
    <img src="/assets/img/my-skills/Firebase.png" alt="firebase icon" />
    <img src="/assets/img/my-skills/GIT.png" alt="git icon" />
    <img src="/assets/img/my-skills/Scrum.png" alt="scrum icon" />
    <img
      src="/assets/img/my-skills/MaterialDesign.png"
      alt="Material Desgin icon"
    />
    <div class="challenge-hover" data-aos="fade-left" data-aos-duration="800">
      <img src="/assets/img/my-skills/Challenge me.png" alt="Challenge icon" />
      <p>
        I am always happy to <br />
        learn new technologies, <br />just tell me what you<br />
        need.
      </p>
    </div>
  </div>
</div>
