
.landing-page{
  position: absolute;
  left: 200px;
  top:0;
  height: 100vh;
  width: 500vw;
  color: white;
  display: flex;
        background: linear-gradient(
    to right,
    #000000,
    #2c2b2b,
    #0b0a0a,
    #323232,
    #0b0a0a
  );

}