@use "variables" as *;

.just-me {
  width: calc(100vw - 180px);
  position: relative;
}

.me {
  position: relative;
  img {
    margin-left: 120px;
    height: 100vh;
    object-fit: cover;
  }
}

.my-name {
  position: absolute;
  bottom: 20%;
  left: 20%;
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 44px;
    margin-left: 154px;
    color: transparent; 
    -webkit-text-stroke: 1px white; 
    text-stroke: 1px white; 
  }
}

.social-language-position {
  width: 300px;
  position: fixed;
  top: 36px;
  right: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.language {
  span {
    margin-left: 4px;
  }
}

.activ-language {
  color: $primary-color;
}

#en {
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

#de {
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.social {
  img {
    margin-right: 16px;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }
}

.mail {
  transition: opacity 0.3s ease;
  &:hover {
    margin-right: 16px;
    height: 30px;
    width: 30px;
    transform: scale(0.96);
    cursor: pointer;
    content: url("/assets/img/menu/mail_hover.png");
  }
}

.linkedin {
  transition: opacity 0.3s ease;
  &:hover {
    margin-right: 16px;
    height: 30px;
    width: 30px;
    transform: scale(0.96);
    cursor: pointer;
    content: url("/assets/img/menu/linkedIn_hover.png");
  }
}

.github {
  transition: opacity 0.3s ease;
  &:hover {
    margin-right: 16px;
    height: 30px;
    width: 30px;
    transform: scale(0.96);
    cursor: pointer;
    content: url("/assets/img/menu/github_hover.png");
  }
}

#arrow-right-me {
  position: absolute;
  right: 44px;
  top: 50%;
  height: 40px;
  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem $primary-color);
  }
}
