<div class="just-me">
  <div class="social-language-position">
    <nav class="social">
      <a class="mail" href="#"
        ><img src="/assets/img/menu/mail.png" alt="mail"
      /></a>
      <a class="linkedin" href="#"
        ><img src="/assets/img/menu/linkedIn.png" alt="linkedin"
      /></a>
      <a class="github" href="#"
        ><img src="/assets/img/menu/github.png" alt="github"
      /></a>
    </nav>
    <div class="language">
      <span id="de">DE</span>
      <span>|</span>
      <span class="activ-language" id="en">EN</span>
    </div>
  </div>
  <div>
    <img
      id="arrow-right-me"
      src="/assets/img/arrow_right.png"
      alt="arrow-right"
    />
  </div>
  <div class="me">
    <div class="my-name">
      <h1>Richard Geis</h1>
      <h2>Frontend Developer</h2>
    </div>
    <img src="/assets/img/just-me/image.png" alt="me" />
  </div>
</div>
