/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "RobotoMono-italic";
  src: url("/assets/fonts/Roboto-Mono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url("/assets/fonts/Roboto-Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono-slim";
  src: url("/assets/fonts/Roboto-Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  font-family: "RobotoMono", monospace;
  color: white;
  background: linear-gradient(#0b042d, #1f0b80, #0b042f, #241085);
  display: flex;
  justify-content: center;
  scroll-behavior: smooth !important;
}

html {
  scroll-padding-top: 92px;
}

@media (max-width: 1020px) {
  html {
    scroll-padding-top: 320px;
  }
}
